{% extends "APP/layout_access.html" %}


{% load static %}


{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    
        
        <div class="row mb-1 align-items-center justify-content-center">  
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-7 text-center">
                <h1>Hello! My name is Valentín Mongi</h1>
                <h4>Change personal details</h4>
            </div>
        </div>

</div>
{% endblock %}

