{% extends "APP/base.html" %}

{% load static %}


{% block layout %}
<div class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1">

        <!-- Navigation-->
   
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">51325</a>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'publications' %}">CURSOS</a>
                
                <p>Bienvenido: {{ user.username }}</p>
                <img src="{{ avatar }}" alt="Avatar" style="width:50px;height:50px;"/>
                <a class="btn btn-primary" href="{% url 'editarPerfil' %}">EDITAR PERFIL</a>
                <a class="btn btn-primary" href="{% url 'logout' %}">LOGOUT</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">LOGIN</a>
                <a class="btn btn-danger" href="{% url 'register' %}">REGISTER</a>
                {% endif %}
            </div>
        </nav>

        {% block content%}
        {% endblock%}
    </div>
</div>


<footer class="bg-dark text-center text-white py-3">
    <!-- Grid container -->

    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        
    </div>
    <!-- Copyright -->
</footer>
{% endblock%}