{% extends "APP/layout.html" %}

{% load static %}


{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    <form class="border border-light shadow-lg w-100 rounded-3 p-3" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        
        <div class="row mb-1 align-items-center justify-content-center">  
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-7 text-center">
                <h1>User Registration</h1>
                <h4>Follow this step to create an account</h4>
            </div>
        </div>

            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Create">
    </form>


</div>




{% endblock %}