{% extends "APP/layout_access.html" %}
{% load static %}

{% block content %}


<div class="container d-flex align-items-center flex-column mt-5 ">  
    <form class="border border-light shadow-lg w-100 rounded-3 p-3 mb-3"  action="" method="POST"> {% csrf_token %}
        <div class="row mb-1 align-items-center justify-content-center">  
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-7 text-center">
                <h1>Search Projects</h1>
            </div>
        </div>
        <table class="table table-striped table-hover shadow-lg bg-white rounded-3 w-100">
            <thead>
                <tr>
                    <th class="w-10 text-center" scope="col">Title</th>
                <th class="w-10 text-center" scope="col">Subtitle</th>
                <th class="w-10 text-center" scope="col">Description</th>
                <th class="w-10 text-center" scope="col">User Responsible</th>
                <th class="w-10 text-center" scope="col">Start Date</th>
                <th class="w-10 text-center" scope="col">End Date</th>
                

                    

                </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="title" maxlength="100" id="id_title"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="subtitle" maxlength="100"  id="id_subtitle"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="description" id="id_description"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="user_in_charge" maxlength="100"  id="id_user_in_charge"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="start_date" maxlength="100"  id="id_start_date"></td>
                    <td class="w-10 text-center"><input class="form-control" type="text" name="end_date" maxlength="100" id="id_end_date"></td>
                    
                    
                </tr>
                
            </tbody>
        </table>
        <tr>
            <input class="btn btn-primary w-100" type="submit", value="SEARCH">

        </tr>
    </form>



    <table class="table table-striped table-hover border border-light shadow-lg bg-white rounded-3 w-100">
        <thead>
            <tr>
                <th class="w-10 text-center" scope="col">Title</th>
                <th class="w-10 text-center" scope="col">Subtitle</th>
                <th class="w-10 text-center" scope="col">Description</th>
                <th class="w-10 text-center" scope="col">User Responsible</th>
                <th class="w-10 text-center" scope="col">Start Date</th>
                <th class="w-10 text-center" scope="col">End Date</th>
                

            </tr>
        
        </thead>

        <tbody>

            {% for project in projects %}
            <tr>
                <td class="w-10 text-center">{{ project.title }}</td>
                <td class="w-10 text-center">{{ project.subtitle }}</td>
                <td class="w-10 text-center">{{ project.description }}</td>
                <td class="w-10 text-center">{{ project.user_in_charge }}</td>
                <td class="w-10 text-center">{{ project.start_date }}</td>
                <td class="w-10 text-center">{{ project.end_date }}</td>
                
            </tr>
            {% endfor %}

        </tbody>

    </table>

    <tr>
        <a class="btn btn-primary w-100" href="{% url 'search_project' %}">RESET</a>
    </tr>

</div>

{% endblock %}